<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 mt=10 text-gray-800">USER Update- {{currentId}}</h1>
</div>
<div class="container">
<form [formGroup]="productForm" (ngSubmit)="updateForm()">
    <div class="row form-group">
        <div class="col-lg-6">
            <label for="">User Name</label>
            <input type="text" class="form-control " formControlName="productname" [ngClass]="{'form-error' : productForm.get('productname').touched && productForm.get('productname').invalid}">
            
        </div>
        <div class="col-lg-6">
            <label for="">Price</label>
            <input type="number" class="form-control" formControlName="productPrice" [ngClass]="{'form-error' : productForm.get('productPrice').touched && productForm.get('productPrice').invalid}">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6 ">
            <label for="" >Discount</label>
            <input type="number" class="form-control" value="0" formControlName="discount" [ngClass]="{'form-error' : productForm.get('discount').touched && productForm.get('discount').invalid}">
        </div>
        <div class="col-lg-6">
            <label for="">Type</label>
            <select class="form-control" formControlName="type" [ngClass]="{'form-error' : productForm.get('type').touched && productForm.get('type').invalid}">
                <option value="el">Electronics</option>
                <option value="ga">Gadget</option>
            </select>
            </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6 ">
        <input type="submit" [disabled]="!productForm.valid" class="btn btn-primary" value="Submit">
    </div>
    </div>
    
</form>

</div>
